# build files
build
dist
.next
out
services/nginx/ssl/localhost.*

# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# python
.venv

# platform-specific
scripts/ssl/mkcert.exe

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
