[submodule "vendors/openssl"]
	path = vendors/openssl
	url = https://github.com/quictls/openssl
[submodule "vendors/ngx_brotli"]
	path = vendors/ngx_brotli
	url = https://github.com/google/ngx_brotli
