.input-wrapper {
    position: fixed;

    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    flex-direction: column;
    display: flex;
    gap: 2rem;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;

    background-color: #131313;
    padding: 2.2rem 2.6rem;
    margin: 0 auto;
    width: 21rem;

    border-radius: 4px;
}

.input-field {
    padding: 0.2rem 0.45rem;
    line-height: 1.6rem;

    border-radius: 2px;
    background-color: #252525;
    border: 1px solid #0f0f0f;
}

.input-btn {
    position: relative;
    z-index: 1;

    padding: 0.4rem 0.45rem;
    line-height: 1.6rem;

    border-radius: 5px;
    background: #252525;
    border: 1px solid #0f0f0f;

    text-align: center;
    cursor: pointer;

    transition: all 250ms ease-in-out;
    transform: scale(1);
    font-size: 1rem;
}

.input-btn:hover {
    transform: scale(1.01);
    font-size: 1.05rem;
}

.input-btn:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(230,57,70);
    background-image: linear-gradient(230deg, #8c265b 0%, #e63946 21%, #db3749 47%, #8c265b 100%);
    transition: opacity 160ms ease-in-out;
    z-index: -1;
    opacity: 0;
    border-radius: 5px;
}

.input-btn:hover::before {
    opacity: 1;
}